<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>adminFilterBlock</filter-name>
        <filter-class>Filter.adminFilterBlock</filter-class>
    </filter>
    <filter>
        <filter-name>blockUsetNotLogin</filter-name>
        <filter-class>Filter.blockUsetNotLogin</filter-class>
    </filter>
    <filter>
        <filter-name>teacherFilterBlock</filter-name>
        <filter-class>Filter.teacherFilterBlock</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>teacherFilterBlock</filter-name>
        <url-pattern>/blog</url-pattern>
        <url-pattern>/writtenblog</url-pattern>
        <url-pattern>/coursemanage</url-pattern>
        <url-pattern>/lessonmanage</url-pattern>
        
    </filter-mapping>
    <filter-mapping>
        <filter-name>adminFilterBlock</filter-name>
         <url-pattern>/dashboardmanager</url-pattern>
        <url-pattern>/blogmanager</url-pattern>
        <url-pattern>/CourseList</url-pattern>
        <url-pattern>/dashboardmanager</url-pattern>
        <url-pattern>/listuser</url-pattern>
        <url-pattern>/profile</url-pattern>   

    </filter-mapping>
    <filter-mapping>
        <filter-name>blockUsetNotLogin</filter-name>
        <url-pattern>/coursewatch</url-pattern>
         <url-pattern>/coursequiz</url-pattern>
        <url-pattern>/courseresult</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>courseController</servlet-name>
        <servlet-class>controller.Course.courseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseDetailController</servlet-name>
        <servlet-class>controller.Course.courseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseWatchControl</servlet-name>
        <servlet-class>controller.Course.courseWatchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseQuizController</servlet-name>
        <servlet-class>controller.Course.courseQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeControl</servlet-name>
        <servlet-class>controller.Home.homeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authenControl</servlet-name>
        <servlet-class>controller.Authen.authenControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>controller.blog.Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorageIMG</servlet-name>
        <servlet-class>controller.blog.StorageIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WrittenBlog</servlet-name>
        <servlet-class>controller.blog.WrittenBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.Admin.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>controller.Admin.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listuser</servlet-name>
        <servlet-class>controller.Admin.listuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controller.Admin.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseList</servlet-name>
        <servlet-class>controller.Admin.CourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecourse</servlet-name>
        <servlet-class>controller.Admin.updatecourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lesson</servlet-name>
        <servlet-class>controller.Admin.lesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateblog</servlet-name>
        <servlet-class>controller.Admin.updateblog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.Admin.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminprofile</servlet-name>
        <servlet-class>controller.Admin.adminprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateImage</servlet-name>
        <servlet-class>controller.Admin.updateImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogManager</servlet-name>
        <servlet-class>controller.Admin.BlogManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardmanager</servlet-name>
        <servlet-class>controller.Admin.dashboardmanager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseManage</servlet-name>
        <servlet-class>controller.Course.CourseManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonManage</servlet-name>
        <servlet-class>controller.Course.LessonManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogView</servlet-name>
        <servlet-class>controller.blog.BlogView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.Authen.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>controller.Authen.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>controller.Authen.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>courseController</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseDetailController</servlet-name>
        <url-pattern>/coursedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseWatchControl</servlet-name>
        <url-pattern>/coursewatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseQuizController</servlet-name>
        <url-pattern>/coursequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authenControl</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorageIMG</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WrittenBlog</servlet-name>
        <url-pattern>/writtenblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listuser</servlet-name>
        <url-pattern>/listuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseList</servlet-name>
        <url-pattern>/CourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecourse</servlet-name>
        <url-pattern>/updatecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lesson</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateblog</servlet-name>
        <url-pattern>/updateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminprofile</servlet-name>
        <url-pattern>/adminprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateImage</servlet-name>
        <url-pattern>/updateImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogManager</servlet-name>
        <url-pattern>/blogmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardmanager</servlet-name>
        <url-pattern>/dashboardmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseManage</servlet-name>
        <url-pattern>/coursemanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonManage</servlet-name>
        <url-pattern>/lessonmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogView</servlet-name>
        <url-pattern>/blogview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPasswordServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
