USE [OnlineLearning]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId_Question] [int] NULL,
	[AnswerText] [nvarchar](max) NULL,
	[IsCorrect] [bit] NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [nvarchar](max) NOT NULL,
	[BlogImage] [nvarchar](max) NOT NULL,
	[BlogDetail] [nvarchar](max) NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[BlogStatus] [int] NOT NULL,
	[BlogTagID] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogTag]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogTag](
	[BlogTagID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BlogTag] PRIMARY KEY CLUSTERED 
(
	[BlogTagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CouseraID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Category_categoryID] [int] NOT NULL,
	[Feestatus] [int] NOT NULL,
	[Introduce] [nvarchar](max) NULL,
	[OriginalPrice] [int] NULL,
	[UserId_User] [int] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CouseraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Course_courseID] [int] NOT NULL,
	[Video] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Time] [date] NULL,
	[NumberLesson] [int] NULL,
	[QuizId_Quiz] [int] NULL,
 CONSTRAINT [PK_Lesson_1] PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NULL,
	[QuizId_Quiz] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[Quizid] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[Quizid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[QuizId] [int] NOT NULL,
	[Score] [float] NOT NULL,
	[CorrectAnswers] [int] NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[attemptCount] [int] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusUser]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusUser](
	[statusUserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_statusUser] PRIMARY KEY CLUSTERED 
(
	[statusUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[FullName] [nchar](50) NULL,
	[Image] [nvarchar](max) NULL,
	[Dob] [date] NULL,
	[Address] [nvarchar](80) NULL,
	[GmailID] [nvarchar](80) NULL,
	[RoleID] [int] NOT NULL,
	[CodeVerify] [varchar](15) NULL,
	[statusUserId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswer]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswer](
	[UserAnswerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[QuizId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerId] [int] NOT NULL,
 CONSTRAINT [PK_UserAnswer] PRIMARY KEY CLUSTERED 
(
	[UserAnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 7/26/2024 12:00:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([AnswerID], [QuestionId_Question], [AnswerText], [IsCorrect]) VALUES (1, 1, N'Hyper Trainer Markup Language', 1)
INSERT [dbo].[Answer] ([AnswerID], [QuestionId_Question], [AnswerText], [IsCorrect]) VALUES (2, 1, N'Hyper Text Markup Language', 0)
INSERT [dbo].[Answer] ([AnswerID], [QuestionId_Question], [AnswerText], [IsCorrect]) VALUES (3, 1, N'Hyper Text Manipulation Language', 0)
SET IDENTITY_INSERT [dbo].[Answer] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [BlogTitle], [BlogImage], [BlogDetail], [PostDate], [BlogStatus], [BlogTagID], [UserId]) VALUES (1, N'1', N'1', N'1', CAST(N'2024-06-23T18:50:55.343' AS DateTime), 0, 1, 1)
INSERT [dbo].[Blog] ([BlogId], [BlogTitle], [BlogImage], [BlogDetail], [PostDate], [BlogStatus], [BlogTagID], [UserId]) VALUES (2, N'2', N'z5179316907195_b9e450ae105151e7bdf224c8414b8c73.jpg', N'<p>4</p>', CAST(N'2024-07-26T02:19:32.393' AS DateTime), 1, 2, 3)
INSERT [dbo].[Blog] ([BlogId], [BlogTitle], [BlogImage], [BlogDetail], [PostDate], [BlogStatus], [BlogTagID], [UserId]) VALUES (3, N'3', N'3', N'3', CAST(N'2024-06-23T18:50:55.343' AS DateTime), 1, 1, 4)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogTag] ON 

INSERT [dbo].[BlogTag] ([BlogTagID], [Name]) VALUES (1, N'Frontend')
INSERT [dbo].[BlogTag] ([BlogTagID], [Name]) VALUES (2, N'Backend')
INSERT [dbo].[BlogTag] ([BlogTagID], [Name]) VALUES (3, N'SQL')
SET IDENTITY_INSERT [dbo].[BlogTag] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (1, N'IT & Software')
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (2, N'Photography')
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (3, N'Programming Language')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CouseraID], [Name], [Image], [Description], [Status], [Category_categoryID], [Feestatus], [Introduce], [OriginalPrice], [UserId_User]) VALUES (1, N'HTML CSS từ Zero đến Hero', N'assets/images/courses/pic1.png', N'Các kiến thức cơ bản, nền móng của ngành IT. Các mô hình, kiến trúc cơ bản khi triển khai ứng dụng. Các khái niệm, thuật ngữ cốt lõi khi triển khai ứng dụng. Hiểu hơn về cách internet và máy vi tính hoạt động', 1, 3, 0, N'Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.', 1234, 3)
INSERT [dbo].[Course] ([CouseraID], [Name], [Image], [Description], [Status], [Category_categoryID], [Feestatus], [Introduce], [OriginalPrice], [UserId_User]) VALUES (2, N'American Beauty', N'assets/images/courses/pic1.png', N'97-8589232', 0, 4, 150, N'Ruhr-Universität Bochum', 2345, 3)
INSERT [dbo].[Course] ([CouseraID], [Name], [Image], [Description], [Status], [Category_categoryID], [Feestatus], [Introduce], [OriginalPrice], [UserId_User]) VALUES (3, N'Next Day Air', N'assets/images/courses/pic1.png', N'33-7964225', 1, 2, 175, N'University of Saint La Salle', 3456, 3)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (1, N'Học được gì trong khóa học?', 1, N'https://www.youtube.com/embed/R6plN3FvzFY?si=nbY9tsEyTujPeAMc', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2023-10-10' AS Date), 1, 1)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (2, N'HTML CSS là gì?', 1, N'https://www.youtube.com/embed/zwsPND378OQ?si=4ahTd1ley_YW6gJR', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2024-03-13' AS Date), 2, 1)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (3, N'Làm quen với Dev tools', 1, N'https://www.youtube.com/embed/7BJiPyN4zZ0?si=6YXbpaA0QAF2lcH8', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2023-08-08' AS Date), 3, 1)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (4, N'Cài đặt môi trường, công cụ cần thiết để bắt đầ học HTML CSS', 1, N'https://www.youtube.com/embed/ZotVkQDC6mU?si=xCtvTTrMjT8_AhVK', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2023-06-07' AS Date), 4, 1)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (5, N'Cấu trúc file HTML', 1, N'https://www.youtube.com/embed/LYnrFSGLCl8?si=5jH7-N-0-5kUQH2X', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2023-11-30' AS Date), 5, 1)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (6, N'Into the Wild', 2, N'https://www.youtube.com/embed/R6plN3FvzFY?si=nbY9tsEyTujPeAMc', N'Goose, canada', CAST(N'2024-06-02' AS Date), NULL, NULL)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (7, N'Imaginary Heroes', 2, N'https://www.youtube.com/embed/R6plN3FvzFY?si=nbY9tsEyTujPeAMc', N'White-fronted bee-eater', CAST(N'2023-12-07' AS Date), NULL, NULL)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (8, N'Seven Up!', 2, N'https://www.youtube.com/embed/R6plN3FvzFY?si=nbY9tsEyTujPeAMc', N'Wombat, common', CAST(N'2024-02-07' AS Date), NULL, NULL)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (51, N'Comments trong HTML', 1, N'https://www.youtube.com/embed/JG0pdfdKjgQ?si=hqVwl_olPRurYYMm', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2023-12-29' AS Date), 6, 1)
INSERT [dbo].[Lesson] ([LessonID], [Title], [Course_courseID], [Video], [Note], [Time], [NumberLesson], [QuizId_Quiz]) VALUES (100, N'Những thẻ HTML thông dụng', 1, N'https://www.youtube.com/embed/AzmdwZ6e_aM?si=5-Q5IsPfdNFeMa0E', N' - Xây dựng được giao diện website
 - Phân tích giao diện website
 - Đặt tên class theo chuẩn BEM & xây dựng layout với Flexbox
 - Làm hiệu ứng với Animation
 - Xây dựng giao diện Responsive
 - Nhiều kĩ thuật nâng cao khác', CAST(N'2024-02-16' AS Date), 7, 2)
GO
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([QuestionId], [QuestionText], [QuizId_Quiz]) VALUES (1, N'HTML là viết tắt của từ gì?', 2)
INSERT [dbo].[Question] ([QuestionId], [QuestionText], [QuizId_Quiz]) VALUES (2, N'Thẻ HTML nào dùng để tạo một đoạn văn bản?', 2)
INSERT [dbo].[Question] ([QuestionId], [QuestionText], [QuizId_Quiz]) VALUES (3, N'Thẻ HTML nào dùng để tạo một liên kết?', 2)
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([Quizid], [Title]) VALUES (1, N'')
INSERT [dbo].[Quiz] ([Quizid], [Title]) VALUES (2, N'Exam Multiple-choice')
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([ResultId], [UserId], [QuizId], [Score], [CorrectAnswers], [TotalQuestions], [attemptCount]) VALUES (143, 4, 2, 20, 1, 5, 1)
INSERT [dbo].[Result] ([ResultId], [UserId], [QuizId], [Score], [CorrectAnswers], [TotalQuestions], [attemptCount]) VALUES (144, 4, 2, 60.000003814697266, 3, 5, 2)
INSERT [dbo].[Result] ([ResultId], [UserId], [QuizId], [Score], [CorrectAnswers], [TotalQuestions], [attemptCount]) VALUES (145, 4, 2, 20, 1, 5, 3)
SET IDENTITY_INSERT [dbo].[Result] OFF
GO
SET IDENTITY_INSERT [dbo].[statusUser] ON 

INSERT [dbo].[statusUser] ([statusUserId], [Name]) VALUES (1, N'Unregistered')
INSERT [dbo].[statusUser] ([statusUserId], [Name]) VALUES (2, N'Registered')
INSERT [dbo].[statusUser] ([statusUserId], [Name]) VALUES (3, N'Ban')
SET IDENTITY_INSERT [dbo].[statusUser] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Email], [Phone], [FullName], [Image], [Dob], [Address], [GmailID], [RoleID], [CodeVerify], [statusUserId], [Username], [Password]) VALUES (1, N'esommerland0@yolasite.com', N'530-490-3293', N'Evvie Sommerland                                  ', N'http://dummyimage.com/221x100.png/cc0000/ffffff', CAST(N'2023-06-26' AS Date), N'46637 Drewry Point', N'191.188.74.204/15', 1, N'338', 2, N'1', N'oagVOoMsfvVGN0RV38xV5b-kYxE')
INSERT [dbo].[User] ([UserID], [Email], [Phone], [FullName], [Image], [Dob], [Address], [GmailID], [RoleID], [CodeVerify], [statusUserId], [Username], [Password]) VALUES (2, N'hwathan1@washington.edu', N'677-840-7098', N'Hendrick Wathan                                   ', N'uploads/OIG1.7AxUhxUmX8Jpvv5w.jpg', CAST(N'2023-11-29' AS Date), N'777 Corry Circle', N'85.44.95.173/5', 1, N'55', 2, N'NewUsername2', N'NewHashedPassword2')
INSERT [dbo].[User] ([UserID], [Email], [Phone], [FullName], [Image], [Dob], [Address], [GmailID], [RoleID], [CodeVerify], [statusUserId], [Username], [Password]) VALUES (3, N'ctilbrook2@ovh.net', N'148-478-3891', N'Crosby Tilbrook                                   ', N'http://dummyimage.com/191x100.png/ff4444/ffffff', CAST(N'2024-03-31' AS Date), N'89909 Troy Avenue', N'184.131.130.252/9', 2, N'0', 3, N'NewUsername3', N'NewHashedPassword3')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAnswer] ON 

INSERT [dbo].[UserAnswer] ([UserAnswerId], [UserId], [QuizId], [QuestionId], [AnswerId]) VALUES (386, 4, 2, 1, 1)
INSERT [dbo].[UserAnswer] ([UserAnswerId], [UserId], [QuizId], [QuestionId], [AnswerId]) VALUES (387, 4, 2, 2, 8)
INSERT [dbo].[UserAnswer] ([UserAnswerId], [UserId], [QuizId], [QuestionId], [AnswerId]) VALUES (388, 4, 2, 3, 10)
SET IDENTITY_INSERT [dbo].[UserAnswer] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([RoleID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[UserRole] ([RoleID], [Name]) VALUES (2, N'Teacher')
INSERT [dbo].[UserRole] ([RoleID], [Name]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__statusUser__60A75C0F]  DEFAULT ((0)) FOR [statusUserId]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionId_Question])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_BlogTag] FOREIGN KEY([BlogTagID])
REFERENCES [dbo].[BlogTag] ([BlogTagID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_BlogTag]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_User]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Category] FOREIGN KEY([Category_categoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Category]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_User] FOREIGN KEY([UserId_User])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_User]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Course] FOREIGN KEY([Course_courseID])
REFERENCES [dbo].[Course] ([CouseraID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Course]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Quiz] FOREIGN KEY([QuizId_Quiz])
REFERENCES [dbo].[Quiz] ([Quizid])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Quiz]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Quiz] FOREIGN KEY([QuizId_Quiz])
REFERENCES [dbo].[Quiz] ([Quizid])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Quiz]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Quiz] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quiz] ([Quizid])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Quiz]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_statusUser] FOREIGN KEY([statusUserId])
REFERENCES [dbo].[statusUser] ([statusUserId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_statusUser]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRole] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserRole]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswer_Answer] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answer] ([AnswerID])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswer_Answer]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([QuestionId])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswer_Question]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswer_Quiz] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quiz] ([Quizid])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswer_Quiz]
GO
ALTER TABLE [dbo].[UserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswer_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserAnswer] CHECK CONSTRAINT [FK_UserAnswer_User]
GO
